.idea/
data/
model/
AttDefDeTr/models/ops/build
AttDefDeTr/models/ops/dist
AttDefDeTr/models/ops/MultiScaleDeformableAttention.egg-info
AttDefMVDeTr/multiview_detector/models/ops/build
AttDefMVDeTr/multiview_detector/models/ops/dist
AttDefMVDeTr/multiview_detector/models/ops/MultiScaleDeformableAttention.egg-info
AttDefDeTr/models/__pycache__
AttDefDeTr/models/ops/functions/__pycache__
AttDefDeTr/models/ops/__pycache__
AttDefDeTr/models/ops/modules/__pycache__
AttDefDeTr/util/__pycache__
AttDefDeTr/__pycache__
AttDefDeTr/datasets/torchvision_datasets/__pycache__
AttDefDeTr/datasets/__pycache__
AttDefDeTr/pcgrad/__pycache__
__pycache__
AttDefMVDeTr/__pycache__
AttDefMVDeTr/multiview_detector/evaluation/pyeval/__pycache__
AttDefMVDeTr/multiview_detector/evaluation/__pycache__
AttDefMVDeTr/multiview_detector/models/__pycache__
AttDefMVDeTr/multiview_detector/models/ops/functions/__pycache__
AttDefMVDeTr/multiview_detector/models/ops/__pycache__
AttDefMVDeTr/multiview_detector/models/ops/modules/__pycache__
AttDefMVDeTr/multiview_detector/loss/__pycache__
AttDefMVDeTr/multiview_detector/__pycache__
AttDefMVDeTr/multiview_detector/datasets/__pycache__
AttDefMVDeTr/multiview_detector/utils/__pycache__
AttDefMVDeTr/pcgrad/__pycache__
